<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <connectionStrings>
    <add name="iCaterCon" connectionString="Data Source=PRASHANT-PC;Initial Catalog=ICater;User ID=admin;Password=root" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages enableEventValidation="false"></pages>
    </system.web>

</configuration>
